// Define SCSS variables for breakpoints
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1279px;
$desktop-min: 1280px;

@mixin description_section_icon_before($url) {
	padding-left: calc(var(--icon-section-margin) + var(--icon-section-size));
	position: relative;
	padding-bottom: 0;
	&::before {
		content: "";
		width: var(--icon-section-size);
		height: var(--icon-section-size);
		display: block;
		background: url(#{$url}) no-repeat center center;
		background-size: contain;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

:root {
	--description-max-width: 1220px;
	--description-natima-max-width: 760px;
	--description-natios-max-width: var(--description-max-width);
	--description-cart-max-width: 430px;
	--description-widget-gap: var(--gap-20);
	--description-widget-gap-bigger: var(--gap-27);
	--description-widget-gap-biggest: var(--gap-41);
	--description-cart-gap: var(--gap-30);
}

/*General styles*/
.product-widgets {
	--icon-section-size: calc(var(--fs-16) * 3.875);
	--icon-section-margin: calc(var(--fs-16) * 1.625);

	width: 100%;
	max-width: var(--description-max-width);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: var(--description-widget-gap);
	color: var(--color-black-200);
	font-size: var(--fs-16);
	line-height: var(--lh-1-4);
	font-weight: var(--fw-400);

	&.natima {
		max-width: var(--description-natima-max-width);
	}
	&.natios {
		max-width: var(--description-natios-max-width);
	}
	p,
	h1,
	h2,
	h3,
	h4 {
		margin: 0;
		text-align: left;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	ul,
	ol {
		padding-bottom: var(--gap-20);
	}

	h2,
	h3 {
		font-size: var(--fs-24);
		font-weight: var(--fw-700);
		line-height: var(--lh-1-6);
		text-wrap: balance;
	}
	h4 {
		font-size: var(--fs-20);
		font-weight: var(--fw-700);
		line-height: var(--lh-1-6);
		text-wrap: balance;
	}
	ul {
		--list-dot-width: 5px;
		list-style: none;
		padding-left: 0;
		margin: 0;

		p {
			padding-bottom: 0;
		}

		li {
			position: relative;
			padding-left: 1.25em;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0.55em;
				width: var(--list-dot-width);
				height: var(--list-dot-width);
				background-color: var(--color-primary);
				border-radius: 50%;
			}
		}
		:not(:last-child) {
			padding-bottom: 0.6em;
		}
	}
	ol {
		--list-dot-width: 5px;
		list-style: none;
		padding-left: 0;
		margin: 0;

		p {
			padding-bottom: 0;
		}

		li {
			position: relative;
			padding-left: 1.25em;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0.55em;
				width: var(--list-dot-width);
				height: var(--list-dot-width);
				background-color: var(--color-primary);
				border-radius: 50%;
			}
		}
		:not(:last-child) {
			padding-bottom: 0.6em;
		}
	}
}

/*Natima descriptions*/
body {
	.widget-gray-background {
		--description-widget-gap: var(--description-widget-gap-bigger);
		background-color: var(--color-gray-400);
		padding: var(--description-widget-gap);
		border-radius: var(--br-12);

		&.widget-with-icon {
			--description-widget-gap: var(--description-widget-gap-biggest);
		}
	}

	.natima-transparent-product-image {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--description-widget-gap);

		.description-image-container {
			padding: 0 5%;
			img {
				max-width: 100%;
				max-height: 400px;
				height: auto;
				width: auto;
			}
		}
	}
	.natima-lifestyle-product-image {
		display: flex;
		flex-direction: column;

		gap: var(--description-widget-gap);

		.description-image-container {
			padding: 0;
			img {
				max-width: 100%;
				width: auto;
				height: auto;
				border-radius: var(--br-10);
			}
		}
	}
}

/*Natima descriptions pc*/
@media screen and (min-width: $tablet-min) {
	body:not(.mobile-view) {
		.widget-gray-background {
			border-radius: var(--br-16);
		}
		.natima-transparent-product-image {
			display: block;
			position: relative;
			--image-width: 37%;

			.description-image-container {
				position: absolute;
				top: 0;
				height: 100%;
				width: var(--image-width);
				display: flex;
				justify-content: center;
				align-items: flex-start;

				padding: calc(var(--description-widget-gap) / 2) var(--description-widget-gap);
				img {
					max-width: 100%;
					max-height: 100%;
					height: auto;
					width: auto;
				}
			}
			&.image-on-right {
				.editable-content {
					padding-right: var(--image-width);
				}
				.description-image-container {
					right: 0;
					left: auto;
				}
			}
			&.image-on-left {
				.editable-content {
					padding-left: var(--image-width);
				}
				.description-image-container {
					left: 0;
					right: auto;
				}
			}
		}

		.natima-lifestyle-product-image {
			&.small {
				--image-width: 35%;
			}
			&.medium {
				--image-width: 43%;
			}
			&.big {
				--image-width: calc(50% - var(--description-widget-gap) / 2);
			}
			display: grid;
			align-items: center;
			gap: var(--description-widget-gap);

			&.image-on-right {
				grid-template-columns: 1fr var(--image-width);
			}
			&.image-on-left {
				grid-template-columns: var(--image-width) 1fr;
				.description-image-container {
					order: -1;
				}
			}
			.description-image-container {
				img {
					max-width: 100%;
					max-height: 100%;
					height: auto;
					width: auto;
				}
			}
		}
	}
}

body {
	.widget-directions {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.white-background-text {
			background-color: var(--color-white);
			padding: 0.7em 1.2em;
			border-radius: var(--br-10);
			p:last-of-type {
				padding-bottom: 0;
			}
		}

		&.directions-with-icon {
			h2,
			h3 {
				@include description_section_icon_before(
					"https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_directions.svg"
				);
			}
			.long-text {
				padding-top: 2.125em;
				padding-left: calc(var(--icon-section-size) + var(--icon-section-margin));
			}
		}
	}
}

@media screen and (min-width: $tablet-min) {
	body:not(.mobile-view) {
		.widget-directions {
			&.short-text {
				flex-direction: row;
				align-items: center;
				h2,
				h3 {
					padding-right: 1.5em;
					min-width: fit-content;
					padding-bottom: 0;
				}
			}
			.text-with-bigger-font {
				font-size: 1.25em;
			}
		}
	}
}
