$large-mobile-min: 500px;
$mobile-max: 767px;

$tablet-min: 768px;
$tablet-medium-min: 1024px;
$tablet-max: 1279px;
$desktop-min: 1280px;
$desktop-medium-min: 1440px;
$desktop-large-min: 1680px;

@mixin customSlider {
	position: relative; /*carousel inner, .products-block*/
	user-select: none;
	display: block;
	&:not(.content) > *,
	&.content > .products-block {
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		--gap: var(--gap-20);
		@media screen and (max-width: $tablet-medium-min) {
			--gap: var(--gap-10);
		}
		gap: var(--gap);
		flex-wrap: nowrap;
		margin-left: 0;
		margin-right: 0;

		&.grabbing,
		&.grabbing * {
			cursor: grabbing !important;
		}

		&::-webkit-scrollbar {
			display: none;
		}

		/*.item, .product*/
		> * {
			width: calc(
				100% / var(--number-of-items) - var(--gap) * ((var(--number-of-items) - 1) / var(--number-of-items)) -
					var(--next-item-preview) / var(--number-of-items)
			);
			flex-shrink: 0;
			scroll-snap-align: start;
			flex-basis: auto;
		}
		> *:first-child {
			width: calc(
				(
						100% / var(--number-of-items) - var(--gap) * ((var(--number-of-items) - 1) / var(--number-of-items)) -
							var(--next-item-preview) / var(--number-of-items)
					) * var(--width-multiplier-of-1st-item)
			);
		}
	}
	.carousel-control {
		position: absolute;
		top: 50%;
		background: var(--color-black);
		width: 52px;
		height: 52px;
		border-radius: 50%;
		border-style: solid;
		border-width: 4px;
		border-color: var(--color-white);
		background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_arrow_right_white.svg");
		background-position: calc(50% + 1px) center;
		background-repeat: no-repeat;
		background-size: 25%;
		transform-origin: center;
		transition: background-color 0.2s ease-out, transform 0.2s ease-in-out;

		cursor: pointer;
		&:hover,
		&:focus-within {
			background-color: var(--color-primary);
		}

		@media screen and (max-width: $tablet-medium-min) {
			width: 36px;
			height: 36px;
		}
		&.left {
			left: 0;
			transform: translate(-50%, -50%) rotate(180deg) scale(1);
			&.hidden-control {
				transform: translate(-50%, -50%) rotate(180deg) scale(0);
			}
			@media screen and (max-width: $tablet-medium-min) {
				left: 5px;
			}
		}
		&.right {
			right: 0;
			transform: translate(50%, -50%) scale(1);
			&.hidden-control {
				transform: translate(50%, -50%) scale(0);
			}
			@media screen and (max-width: $tablet-medium-min) {
				right: 5px;
			}
		}
	}
}
.slider-custom-wrapper {
	@include customSlider;
}

.in-index {
	#carousel {
		--width-multiplier-of-1st-item: 2;
		--number-of-items: 4;
		--next-item-preview: 60px;
		@media screen and (max-width: $desktop-medium-min) {
			--number-of-items: 3;
			--next-item-preview: 40px;
		}
		@media screen and (max-width: $desktop-min) {
			--number-of-items: 3;
			--next-item-preview: 40px;
			--width-multiplier-of-1st-item: 1;
			> * > *:first-child {
				display: none;
			}
		}
		@media screen and (max-width: $tablet-medium-min) {
			--number-of-items: 2;
			--next-item-preview: 150px;
		}
		@media screen and (max-width: $mobile-max) {
			--number-of-items: 1;
			--next-item-preview: 200px;
		}
		@media screen and (max-width: $large-mobile-min) {
			--number-of-items: 1;
			--next-item-preview: 100px;
		}
		@include customSlider;
	}

	.content,
	.products-slider {
		--width-multiplier-of-1st-item: 1;
		--number-of-items: 6;
		--next-item-preview: 80px;

		@media screen and (max-width: $desktop-medium-min) {
			--number-of-items: 5;
			--next-item-preview: 40px;
		}
		@media screen and (max-width: $desktop-min) {
			--number-of-items: 4;
			--next-item-preview: 40px;
		}
		@media screen and (max-width: $tablet-medium-min) {
			--number-of-items: 3;
			--next-item-preview: 50px;
		}
		@media screen and (max-width: $mobile-max) {
			--number-of-items: 2;
			--next-item-preview: 50px;
		}
		@media screen and (max-width: $large-mobile-min) {
			--number-of-items: 2;
			--next-item-preview: 40px;
		}
		@include customSlider;
	}

	.votes-slider {
		--width-multiplier-of-1st-item: 1;
		--number-of-items: 4;
		--next-item-preview: 100px;

		@media screen and (max-width: $desktop-medium-min) {
			--number-of-items: 3;
			--next-item-preview: 100px;
		}
		@media screen and (max-width: $desktop-min) {
			--number-of-items: 3;
			--next-item-preview: 60px;
		}
		@media screen and (max-width: $tablet-medium-min) {
			--number-of-items: 2;
			--next-item-preview: 100px;
		}
		@media screen and (max-width: $mobile-max) {
			--number-of-items: 1;
			--next-item-preview: 200px;
		}
		@media screen and (max-width: 600px) {
			--number-of-items: 1;
			--next-item-preview: 100px;
		}
		@media screen and (max-width: $large-mobile-min) {
			--number-of-items: 1;
			--next-item-preview: 40px;
		}
		@include customSlider;
	}

	.carousel-inner {
		min-height: auto !important;
		/*img*/
		a:has(img) {
			background: linear-gradient(to bottom, var(--color-white), var(--color-gray-500));
		}
	}
}

.heureka-reviews-wrapper {
	--width-multiplier-of-1st-item: 1;
	--number-of-items: 3;
	--next-item-preview: 160px;

	@media screen and (max-width: $desktop-large-min) {
		--number-of-items: 2;
		--next-item-preview: 160px;
	}

	@media screen and (max-width: $desktop-medium-min) {
		--number-of-items: 2;
		--next-item-preview: 60px;
	}
	@media screen and (max-width: $desktop-min) {
		--number-of-items: 3;
		--next-item-preview: 160px;
	}
	@media screen and (max-width: $tablet-medium-min) {
		--number-of-items: 3;
		--next-item-preview: 60px;
	}
	@media screen and (max-width: $mobile-max) {
		--number-of-items: 2;
		--next-item-preview: 60px;
	}
	@media screen and (max-width: 600px) {
		--number-of-items: 1;
		--next-item-preview: 200px;
	}
	@media screen and (max-width: $large-mobile-min) {
		--number-of-items: 1;
		--next-item-preview: 80px;
	}
	@include customSlider;
}
