@charset "UTF-8";
/*:root {
    --desc-color-primary: var(--color-primary);
    --desc-color-secondary: var(--color-primary-hover);
    --desc-color-bg-primary: var(--color-primary);
    --desc-color-bg-secondary: var(--color-primary-hover);
}*/
:root {
  --desc-color-primary-blue: hsla(225, 100%, 33%, 1);
  --desc-color-secondary-blue: hsla(222, 100%, 23%, 1);
  --desc-color-compare: hsla(197, 91%, 56%, 1);
}

.custom-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  font-size: var(--fs-16);
  color: var(--color-black-1000);
  font-weight: 400;
  line-height: 1.3;
  gap: var(--gap);
  text-wrap: balance;
  --gap: clamp(12px, 1.04vw, 20px);
  --border-radius: 20px;
  --padding-block: clamp(35px, 3.125vw, 60px);
}

.custom-desc p {
  text-wrap: pretty;
}

.custom-desc .pad,
.custom-desc .row .pad {
  padding: var(--padding-block) !important;
}

.custom-desc .pad-l,
.custom-desc .row .pad-l {
  padding-left: var(--padding-block) !important;
}

.custom-desc .pad-r,
.custom-desc .row .pad-r {
  padding-right: var(--padding-block) !important;
}

.custom-desc .pad-t,
.custom-desc .row .pad-t {
  padding-top: var(--padding-block) !important;
}

.custom-desc .pad-b,
.custom-desc .row .pad-b {
  padding-bottom: var(--padding-block) !important;
}

.custom-desc .m-top-auto {
  margin-top: auto;
}

.custom-desc .m-bottom-auto {
  margin-bottom: auto;
}

.custom-desc .m-top-0 {
  margin-top: 0 !important;
}

.custom-desc .m-top-1 {
  margin-top: clamp(2px, 0.52vw, 10px) !important;
}

.custom-desc .m-top-2 {
  margin-top: clamp(5px, 1.04vw, 20px) !important;
}

.custom-desc .m-top-3 {
  margin-top: clamp(7px, 1.56vw, 30px) !important;
}

.custom-desc .m-top-4 {
  margin-top: clamp(10px, 2.08vw, 40px) !important;
}

.custom-desc .m-bottom-0 {
  margin-bottom: 0px !important;
}

.custom-desc .m-bottom-1 {
  margin-bottom: clamp(2px, 0.52vw, 10px) !important;
}

.custom-desc .m-bottom-2 {
  margin-bottom: clamp(5px, 1.04vw, 20px) !important;
}

.custom-desc .m-bottom-3 {
  margin-bottom: clamp(7px, 1.56vw, 30px) !important;
}

.custom-desc .m-bottom-4 {
  margin-bottom: clamp(10px, 2.08vw, 40px) !important;
}

.custom-desc .m-bottom-5 {
  margin-bottom: clamp(12px, 2.6vw, 50px) !important;
}

.custom-desc .m-bottom-6 {
  margin-bottom: clamp(15px, 3.12vw, 60px) !important;
}

.custom-desc .m-bottom-7 {
  margin-bottom: clamp(17px, 3.64vw, 70px) !important;
}

.custom-desc .m-bottom-8 {
  margin-bottom: clamp(20px, 4.16vw, 80px) !important;
}

.custom-desc .margin-h-auto {
  margin-left: auto;
  margin-right: auto;
}

.custom-desc .center-v-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------POZADI*/
/*---------------------------------------------------------------------------------------------*/
.custom-desc .bg.bg-gray {
  background: #f6f6f6;
}

.custom-desc .bg.bg-gray.bg-important {
  background: #f6f6f6 !important;
}

.custom-desc .bg.bg-white {
  background: #ffffff;
}

.custom-desc .bg.bg-gradient.bg-gray {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(205, 205, 205)), to(rgb(246, 246, 246)));
  background: linear-gradient(0deg, rgb(205, 205, 205) 0%, rgb(246, 246, 246) 100%);
}

.custom-desc .bg.bg-gradient {
  background: var(--desc-color-bg-primary);
  background: radial-gradient(circle, var(--desc-color-bg-primary) 0%, var(--desc-color-bg-secondary) 100%);
}

.custom-desc .bg.bg-gradient.bg-290 {
  background: var(--desc-color-bg-primary);
  background: linear-gradient(290deg, var(--desc-color-icon-primary) 0%, var(--desc-color-icon-secondary) 100%);
}

.custom-desc .bg.bg-gradient.bg-blue {
  background: var(--desc-color-primary-blue);
  background: radial-gradient(circle, var(--desc-color-primary-blue) 0%, var(--desc-color-secondary-blue) 100%);
}

.custom-desc .bg.bg-primary {
  background: var(--desc-color-bg-primary);
}

.custom-desc .bg.bg-secondary {
  background: var(--desc-color-bg-secondary);
}

.custom-desc .bg.bg-blue {
  background: var(--desc-color-secondary-blue);
}

.custom-desc .ikony img {
  background: -webkit-gradient(linear, left top, right top, from(var(--desc-color-icon-secondary)), to(var(--desc-color-icon-primary)));
  background: linear-gradient(90deg, var(--desc-color-icon-secondary) 0%, var(--desc-color-icon-primary) 100%);
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------IMAGE POZADI*/
/*---------------------------------------------------------------------------------------------*/
.custom-desc .bg.image {
  display: grid;
  grid-template-columns: 100% 1fr;
}

.custom-desc .bg.image > * {
  z-index: 2;
  grid-column: 1;
  grid-row: 1;
}

.custom-desc .bg.image > img {
  z-index: 1;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  max-height: none;
  grid-column: 1/3;
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------BLOKY*/
/*---------------------------------------------------------------------------------------------*/
.custom-desc .row {
  width: 100%;
}

.custom-desc .row,
.custom-desc .block {
  overflow: hidden;
  position: relative;
  border-radius: var(--border-radius);
}

.custom-desc .row .block {
  height: 100%;
}

.custom-desc .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.custom-desc .column.center-h {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-desc .column.center-v {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-desc .w-5 {
  width: 5%;
}

.custom-desc .w-10 {
  width: 10%;
}

.custom-desc .w-15 {
  width: 15%;
}

.custom-desc .w-20 {
  width: 20%;
}

.custom-desc .w-25 {
  width: 25%;
}

.custom-desc .w-30 {
  width: 30%;
}

.custom-desc .w-35 {
  width: 35%;
}

.custom-desc .w-40 {
  width: 40%;
}

.custom-desc .w-45 {
  width: 45%;
}

.custom-desc .w-50 {
  width: 50%;
}

.custom-desc .w-55 {
  width: 55%;
}

.custom-desc .w-60 {
  width: 60%;
}

.custom-desc .w-65 {
  width: 65%;
}

.custom-desc .w-70 {
  width: 70%;
}

.custom-desc .w-75 {
  width: 75%;
}

.custom-desc .w-80 {
  width: 80%;
}

.custom-desc .w-85 {
  width: 85%;
}

.custom-desc .w-90 {
  width: 90%;
}

.custom-desc .w-95 {
  width: 95%;
}

.custom-desc .w-100 {
  width: 100%;
}

.custom-desc .fw {
  position: relative;
  width: calc(100% + 2 * var(--padding-block));
  max-width: none !important;
  left: calc(var(--padding-block) / -1);
}

.custom-desc .bottom {
  margin-top: auto;
}

.custom-desc .col-1-9,
.custom-desc .col-2-8,
.custom-desc .col-25-75,
.custom-desc .col-3-7,
.custom-desc .col-4-6,
.custom-desc .col-5-5,
.custom-desc .col-6-4,
.custom-desc .col-7-3,
.custom-desc .col-75-25,
.custom-desc .col-8-2,
.custom-desc .col-9-1,
.custom-desc .col-1-1-8,
.custom-desc .col-1-2-7,
.custom-desc .col-1-3-6,
.custom-desc .col-1-4-5,
.custom-desc .col-1-5-4,
.custom-desc .col-1-6-3,
.custom-desc .col-1-7-2,
.custom-desc .col-1-8-1,
.custom-desc .col-2-1-7,
.custom-desc .col-2-2-6,
.custom-desc .col-2-3-5,
.custom-desc .col-2-4-4,
.custom-desc .col-2-5-3,
.custom-desc .col-2-6-2,
.custom-desc .col-2-7-1,
.custom-desc .col-3-1-6,
.custom-desc .col-3-2-5,
.custom-desc .col-3-3-3,
.custom-desc .col-3-3-4,
.custom-desc .col-3-4-3,
.custom-desc .col-3-5-2,
.custom-desc .col-3-6-1,
.custom-desc .col-4-1-5,
.custom-desc .col-4-2-4,
.custom-desc .col-4-3-3,
.custom-desc .col-4-4-2,
.custom-desc .col-4-5-1,
.custom-desc .col-5-1-4,
.custom-desc .col-5-2-3,
.custom-desc .col-5-3-2,
.custom-desc .col-5-4-1,
.custom-desc .col-6-1-3,
.custom-desc .col-6-2-2,
.custom-desc .col-6-3-1,
.custom-desc .col-7-1-2,
.custom-desc .col-7-2-1,
.custom-desc .col-8-1-1,
.custom-desc .col-25-25-25-25,
.custom-desc .col-100,
.compare {
  display: grid;
  gap: var(--gap);
  --column-gap: var(--gap);
  -webkit-column-gap: var(--column-gap);
     -moz-column-gap: var(--column-gap);
          column-gap: var(--column-gap);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-desc .prispivame {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-desc .prispivame > div {
  padding-top: 0.5em;
}

.custom-desc .gap-0 {
  --column-gap: 0px;
}

.custom-desc .gap-1 {
  --column-gap: var(--gap);
}

.custom-desc .gap-15 {
  --column-gap: calc(var(--gap) * 1.5);
}

.custom-desc .gap-2 {
  --column-gap: calc(var(--gap) * 2);
}

.custom-desc .gap-25 {
  --column-gap: calc(var(--gap) * 2.5);
}

.custom-desc .gap-3 {
  --column-gap: calc(var(--gap) * 3);
}

.custom-desc .gap-35 {
  --column-gap: calc(var(--gap) * 3.5);
}

.custom-desc .gap-4 {
  --column-gap: calc(var(--gap) * 4);
}

.col-1-9 {
  grid-template-columns: calc(10% - var(--column-gap) / 2) calc(90% - var(--column-gap) / 2);
}

.col-2-8 {
  grid-template-columns: calc(20% - var(--column-gap) / 2) calc(80% - var(--column-gap) / 2);
}

.col-3-7 {
  grid-template-columns: calc(30% - var(--column-gap) / 2) calc(70% - var(--column-gap) / 2);
}

.col-25-75 {
  grid-template-columns: calc(25% - var(--column-gap) / 2) calc(75% - var(--column-gap) / 2);
}

.col-4-6 {
  grid-template-columns: calc(40% - var(--column-gap) / 2) calc(60% - var(--column-gap) / 2);
}

.col-5-5 {
  grid-template-columns: calc(50% - var(--column-gap) / 2) calc(50% - var(--column-gap) / 2);
}

.col-6-4 {
  grid-template-columns: calc(60% - var(--column-gap) / 2) calc(40% - var(--column-gap) / 2);
}

.col-7-3 {
  grid-template-columns: calc(70% - var(--column-gap) / 2) calc(30% - var(--column-gap) / 2);
}

.col-75-25 {
  grid-template-columns: calc(75% - var(--column-gap) / 2) calc(25% - var(--column-gap) / 2);
}

.col-8-2 {
  grid-template-columns: calc(80% - var(--column-gap) / 2) calc(20% - var(--column-gap) / 2);
}

.col-9-1 {
  grid-template-columns: calc(90% - var(--column-gap) / 2) calc(10% - var(--column-gap) / 2);
}

.col-1-1-8 {
  grid-template-columns: calc(10% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3) calc(80% - var(--column-gap) / 3);
}

.col-1-2-7 {
  grid-template-columns: calc(10% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3) calc(70% - var(--column-gap) / 3);
}

.col-1-3-6 {
  grid-template-columns: calc(10% - var(--column-gap) / 3) calc(30% - var(--column-gap) / 3) calc(60% - var(--column-gap) / 3);
}

.col-1-4-5 {
  grid-template-columns: calc(10% - var(--column-gap) / 3) calc(40% - var(--column-gap) / 3) calc(50% - var(--column-gap) / 3);
}

.col-1-5-4 {
  grid-template-columns: calc(10% - var(--column-gap) / 3) calc(50% - var(--column-gap) / 3) calc(40% - var(--column-gap) / 3);
}

.col-1-6-3 {
  grid-template-columns: calc(10% - var(--column-gap) / 3) calc(60% - var(--column-gap) / 3) calc(30% - var(--column-gap) / 3);
}

.col-1-7-2 {
  grid-template-columns: calc(10% - var(--column-gap) / 3) calc(70% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3);
}

.col-1-8-1 {
  grid-template-columns: calc(10% - var(--column-gap) / 3) calc(80% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3);
}

.col-2-1-7 {
  grid-template-columns: calc(20% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3) calc(70% - var(--column-gap) / 3);
}

.col-2-2-6 {
  grid-template-columns: calc(20% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3) calc(60% - var(--column-gap) / 3);
}

.col-2-3-5 {
  grid-template-columns: calc(20% - var(--column-gap) / 3) calc(30% - var(--column-gap) / 3) calc(50% - var(--column-gap) / 3);
}

.col-2-4-4 {
  grid-template-columns: calc(20% - var(--column-gap) / 3) calc(40% - var(--column-gap) / 3) calc(40% - var(--column-gap) / 3);
}

.col-2-5-3 {
  grid-template-columns: calc(20% - var(--column-gap) / 3) calc(50% - var(--column-gap) / 3) calc(30% - var(--column-gap) / 3);
}

.col-2-6-2 {
  grid-template-columns: calc(20% - var(--column-gap) / 3) calc(60% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3);
}

.col-2-7-1 {
  grid-template-columns: calc(20% - var(--column-gap) / 3) calc(70% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3);
}

.col-3-1-6 {
  grid-template-columns: calc(30% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3) calc(60% - var(--column-gap) / 3);
}

.col-3-2-5 {
  grid-template-columns: calc(30% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3) calc(50% - var(--column-gap) / 3);
}

.col-3-3-3 {
  grid-template-columns: calc(33.3% - var(--column-gap) / 3) calc(33.3% - var(--column-gap) / 3) calc(33.3% - var(--column-gap) / 3);
}

.col-3-3-4 {
  grid-template-columns: calc(30% - var(--column-gap) / 3) calc(30% - var(--column-gap) / 3) calc(40% - var(--column-gap) / 3);
}

.col-3-4-3 {
  grid-template-columns: calc(30% - var(--column-gap) / 3) calc(40% - var(--column-gap) / 3) calc(30% - var(--column-gap) / 3);
}

.col-3-5-2 {
  grid-template-columns: calc(30% - var(--column-gap) / 3) calc(50% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3);
}

.col-3-6-1 {
  grid-template-columns: calc(30% - var(--column-gap) / 3) calc(60% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3);
}

.col-4-1-5 {
  grid-template-columns: calc(40% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3) calc(50% - var(--column-gap) / 3);
}

.col-4-2-4 {
  grid-template-columns: calc(40% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3) calc(40% - var(--column-gap) / 3);
}

.col-4-3-3 {
  grid-template-columns: calc(40% - var(--column-gap) / 3) calc(30% - var(--column-gap) / 3) calc(30% - var(--column-gap) / 3);
}

.col-4-4-2 {
  grid-template-columns: calc(40% - var(--column-gap) / 3) calc(40% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3);
}

.col-4-5-1 {
  grid-template-columns: calc(40% - var(--column-gap) / 3) calc(50% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3);
}

.col-5-1-4 {
  grid-template-columns: calc(50% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3) calc(40% - var(--column-gap) / 3);
}

.col-5-2-3 {
  grid-template-columns: calc(50% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3) calc(30% - var(--column-gap) / 3);
}

.col-5-3-2 {
  grid-template-columns: calc(50% - var(--column-gap) / 3) calc(30% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3);
}

.col-5-4-1 {
  grid-template-columns: calc(50% - var(--column-gap) / 3) calc(40% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3);
}

.col-6-1-3 {
  grid-template-columns: calc(60% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3) calc(30% - var(--column-gap) / 3);
}

.col-6-2-2 {
  grid-template-columns: calc(60% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3);
}

.col-6-3-1 {
  grid-template-columns: calc(60% - var(--column-gap) / 3) calc(30% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3);
}

.col-7-1-2 {
  grid-template-columns: calc(70% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3);
}

.col-7-2-1 {
  grid-template-columns: calc(70% - var(--column-gap) / 3) calc(20% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3);
}

.col-8-1-1 {
  grid-template-columns: calc(80% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3) calc(10% - var(--column-gap) / 3);
}

.col-25-25-25-25 {
  grid-template-columns: calc(25% - var(--column-gap) / 4) calc(25% - var(--column-gap) / 4) calc(25% - var(--column-gap) / 4) calc(25% - var(--column-gap) / 4);
}

.col-100 {
  grid-template-columns: 100%;
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------FONTY*/
/*---------------------------------------------------------------------------------------------*/
.custom-desc .f-14 {
  font-size: var(--fs-14);
}

.custom-desc .f-16 {
  font-size: var(--fs-16);
}

.custom-desc .f-18 {
  font-size: var(--fs-18);
}

.custom-desc .f-20 {
  font-size: var(--fs-20);
}

.custom-desc .f-22 {
  font-size: var(--fs-22);
}

.custom-desc .f-24 {
  font-size: var(--fs-24);
}

.custom-desc .f-26 {
  font-size: var(--fs-26);
}

.custom-desc .f-28 {
  font-size: var(--fs-28);
}

.custom-desc .f-30 {
  font-size: var(--fs-30);
}

.custom-desc .f-32 {
  font-size: var(--fs-32);
}

.custom-desc .f-34 {
  font-size: var(--fs-34);
}

.custom-desc .f-36 {
  font-size: var(--fs-36);
}

.custom-desc .f-38 {
  font-size: var(--fs-38);
}

.custom-desc .f-40 {
  font-size: var(--fs-40);
}

.custom-desc .white {
  color: white;
  font-weight: 500;
}

.custom-desc .white h3,
.custom-desc .white h2 {
  color: white;
}

.custom-desc .bold-semi {
  font-weight: 500;
}

.custom-desc .bold {
  font-weight: 600;
}

.custom-desc .bold-extra {
  font-weight: 700;
}

.custom-desc .bold-mega {
  font-weight: 800;
}

.custom-desc .center {
  text-align: center;
}

.custom-desc .center > * {
  margin: auto;
}

.custom-desc h2,
.custom-desc h3 {
  font-weight: 600;
  line-height: 1.2;
  font-size: var(--fs-32);
}

.custom-desc p {
  padding: 0;
  padding-bottom: 1em;
  margin: 0;
  margin-bottom: 0;
  color: inherit;
}

.custom-desc .no-pad {
  padding: 0;
}

.custom-desc h2,
.custom-desc h3 {
  padding: 0;
  padding-bottom: 0.8em;
  margin: 0;
  margin-bottom: 0;
}

.custom-desc .compare h3 {
  font-size: 2.5rem;
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------IKONY*/
/*---------------------------------------------------------------------------------------------*/
.custom-desc .ikony > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: var(--gap);
     -moz-column-gap: var(--gap);
          column-gap: var(--gap);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-desc .ikony img {
  border-radius: var(--border-radius);
}

.custom-desc .ikony.h-1 img {
  width: clamp(45px, 3.125vw, 60px);
  height: clamp(45px, 3.125vw, 60px);
  padding: clamp(9px, 0.625vw, 12px);
}

.custom-desc .ikony.h-2 img {
  width: clamp(55px, 3.7vw, 70px);
  height: clamp(55px, 3.7vw, 70px);
  padding: clamp(12px, 0.78vw, 15px);
}

.custom-desc .ikony.h-3 img {
  width: clamp(65px, 5.75vw, 110px);
  height: clamp(65px, 5.75vw, 110px);
  padding: clamp(14px, 1.5vw, 28px);
}

.custom-desc .ikony.h-3 img.smaller-pad-icon {
  padding: clamp(10px, 1.1vw, 20px);
}

.custom-desc .ikony.h-3 img.half-pad-icon {
  padding: clamp(7px, 0.75vw, 14px);
}

.custom-desc .ikony.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--desc-color-bg-primary);
  background: radial-gradient(circle, var(--desc-color-bg-primary) 0%, var(--desc-color-bg-secondary) 100%);
}

.custom-desc .ikony.slider p {
  max-width: 80%;
  margin: auto;
}

.custom-desc .ikony.slider > * {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--column-gap);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.custom-desc .ikony.slider img {
  background: transparent;
}

/*SLIDER*/
.custom-desc .slider .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: calc(var(--gap) * 1.5);
  padding-bottom: calc(var(--gap) * 2);
}

.custom-desc .slider .dots .dot {
  background: white;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  position: relative;
  -webkit-transition: outline-color 0.2s ease-in-out, -webkit-transform 0.1s ease;
  transition: outline-color 0.2s ease-in-out, -webkit-transform 0.1s ease;
  transition: transform 0.1s ease, outline-color 0.2s ease-in-out;
  transition: transform 0.1s ease, outline-color 0.2s ease-in-out, -webkit-transform 0.1s ease;
  outline-color: transparent;
}

.custom-desc .slider.bg-gray .dots .dot {
  background: var(--desc-color-bg-primary);
  background: radial-gradient(circle, var(--desc-color-bg-primary) 0%, var(--desc-color-bg-secondary) 100%);
}

.custom-desc .slider .dots .dot:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.custom-desc .slider .dots .dot.active {
  outline-style: solid;
  outline-color: white;
  outline-offset: 5px;
  outline-width: 3px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.custom-desc .slider.bg-gray .dots .dot.active {
  outline-color: var(--desc-color-bg-secondary);
}

.custom-desc .slider .dots .dot::before {
  content: "";
  position: absolute;
  width: 250%;
  height: 250%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------COMPARE*/
/*---------------------------------------------------------------------------------------------*/
.custom-desc .compare {
  row-gap: 0;
  --column-gap: calc(var(--gap) * 3);
}

.custom-desc .compare p {
  padding: 1em 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-desc .compare.items-2 {
  grid-template-columns: calc(50% - var(--column-gap) / 2) calc(50% - var(--column-gap) / 2);
}

.custom-desc .compare.items-3 {
  grid-template-columns: calc(33.3% - var(--column-gap) / 3) calc(33.3% - var(--column-gap) / 3) calc(33.3% - var(--column-gap) / 3);
}

.custom-desc .compare.items-4 {
  grid-template-columns: calc(25% - var(--column-gap) / 4) calc(25% - var(--column-gap) / 4) calc(25% - var(--column-gap) / 4) calc(25% - var(--column-gap) / 4);
}

.custom-desc .compare.items-2 h3 {
  grid-row: 1;
  grid-column: 1/3;
  width: 32%;
  text-align: center;
  margin: auto;
  line-height: 1.3;
}

.custom-desc .compare.items-2 > img:first-of-type {
  grid-row: 1;
  grid-column: 1;
  width: 35%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.custom-desc .compare.items-2 > img:nth-of-type(2) {
  grid-row: 1;
  grid-column: 2;
  width: 35%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.custom-desc .compare.items-2 > img {
  -webkit-filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.25));
  max-width: 175px;
}

.custom-desc .compare.items-2.wide-product {
  padding: 0 10%;
}

.custom-desc .compare.items-2.wide-product h3 {
  grid-row: 1;
  grid-column: 1/3;
  width: 75%;
  max-width: 20em;
  text-align: center;
  margin: auto auto 0.5em;
  line-height: 1.3;
}

.custom-desc .compare.items-2.wide-product > img:first-of-type {
  grid-row: 2;
  grid-column: 1;
  width: 45%;
  text-align: center;
  margin: auto auto 20px;
  max-width: none;
}

.custom-desc .compare.items-2.wide-product > img:nth-of-type(2) {
  grid-row: 2;
  grid-column: 2;
  width: 24%;
  text-align: center;
  margin: auto auto 20px;
}

.custom-desc .compare.items-3 h3,
.custom-desc .compare.items-4 h3 {
  grid-row: 1;
  width: 75%;
  text-align: center;
  margin: auto;
}

.custom-desc .compare.items-2 > p:nth-of-type(2n - 1)::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 200%;
  height: 1px;
  background: var(--desc-color-compare);
  background: radial-gradient(circle, var(--desc-color-compare) 0%, transparent 80%);
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------Tabulka složení*/
/*---------------------------------------------------------------------------------------------*/
.custom-desc table.ingredients {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--fs-14);
  border: 1px solid var(--color-gray-700);
  border-radius: calc(var(--border-radius) + 1px);
  outline: 1px solid var(--color-gray-700);
  overflow: hidden;
}

.custom-desc table.ingredients tr > th:first-child {
  width: 55%;
}

.custom-desc table.ingredients tr > th:nth-child(2) {
  width: 27%;
}

.custom-desc table.ingredients tr > th:nth-child(3) {
  width: 18%;
}

.custom-desc .ingredients th,
.custom-desc .ingredients td {
  padding: 1em;
  text-align: left;
  border: 1px solid var(--color-gray-700);
}

.custom-desc .ingredients td * {
  display: inline;
  width: auto;
}

.custom-desc .ingredients th *,
.custom-desc .ingredients tbody > tr:last-child td * {
  display: block;
  width: 100%;
}

.custom-desc .ingredients .tab {
  padding-left: 2em;
}

.custom-desc .ingredients tr td:nth-child(3),
.custom-desc .ingredients tr th:nth-child(3) {
  text-align: right;
}

.aspect-ratio-1-1 {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  max-width: 100%;
}

.aspect-ratio-3-4 {
  width: 100%;
  height: auto;
  aspect-ratio: 3/4;
  max-width: 100%;
}

.aspect-ratio-4-3 {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  max-width: 100%;
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------Mobil*/
/*---------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
  .custom-desc {
    --padding-block: 20px;
  }
  /*Fix prepsani row > div default ye shoptetu*/
  .custom-desc .row > div {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  /*uprava tabulky na mobilu*/
  .custom-desc .ingredients th,
  .custom-desc .ingredients td {
    padding: 1em 0.2em 1em 0.5em;
  }
  .custom-desc .ingredients .tab {
    padding-left: 1em !important;
  }
  .custom-desc .ingredients tr td:nth-child(3),
  .custom-desc .ingredients tr th:nth-child(3) {
    text-align: center;
    padding: 1em 0.2em 1em 0.2em;
  }
}
@media (max-width: 992px) {
  .custom-desc {
    text-align: center;
  }
  .custom-desc .col-1-9,
  .custom-desc .col-2-8,
  .custom-desc .col-25-75,
  .custom-desc .col-3-7,
  .custom-desc .col-4-6,
  .custom-desc .col-5-5,
  .custom-desc .col-6-4,
  .custom-desc .col-7-3,
  .custom-desc .col-75-25,
  .custom-desc .col-8-2,
  .custom-desc .col-9-1,
  .custom-desc .col-1-1-8,
  .custom-desc .col-1-2-7,
  .custom-desc .col-1-3-6,
  .custom-desc .col-1-4-5,
  .custom-desc .col-1-5-4,
  .custom-desc .col-1-6-3,
  .custom-desc .col-1-7-2,
  .custom-desc .col-1-8-1,
  .custom-desc .col-2-1-7,
  .custom-desc .col-2-2-6,
  .custom-desc .col-2-3-5,
  .custom-desc .col-2-4-4,
  .custom-desc .col-2-5-3,
  .custom-desc .col-2-6-2,
  .custom-desc .col-2-7-1,
  .custom-desc .col-3-1-6,
  .custom-desc .col-3-2-5,
  .custom-desc .col-3-3-3,
  .custom-desc .col-3-3-4,
  .custom-desc .col-3-4-3,
  .custom-desc .col-3-5-2,
  .custom-desc .col-3-6-1,
  .custom-desc .col-4-1-5,
  .custom-desc .col-4-2-4,
  .custom-desc .col-4-3-3,
  .custom-desc .col-4-4-2,
  .custom-desc .col-4-5-1,
  .custom-desc .col-5-1-4,
  .custom-desc .col-5-2-3,
  .custom-desc .col-5-3-2,
  .custom-desc .col-5-4-1,
  .custom-desc .col-6-1-3,
  .custom-desc .col-6-2-2,
  .custom-desc .col-6-3-1,
  .custom-desc .col-7-1-2,
  .custom-desc .col-7-2-1,
  .custom-desc .col-8-1-1 {
    grid-template-columns: 1fr;
  }
  .custom-desc .col-25-25-25-25 {
    grid-template-columns: calc(50% - var(--column-gap) / 2) calc(50% - var(--column-gap) / 2);
  }
  .custom-desc .w-5,
  .custom-desc .w-10,
  .custom-desc .w-15,
  .custom-desc .w-20,
  .custom-desc .w-25,
  .custom-desc .w-30,
  .custom-desc .w-35,
  .custom-desc .w-40,
  .custom-desc .w-45,
  .custom-desc .w-50,
  .custom-desc .w-55,
  .custom-desc .w-60,
  .custom-desc .w-65,
  .custom-desc .w-70,
  .custom-desc .w-75,
  .custom-desc .w-80,
  .custom-desc .w-85,
  .custom-desc .w-90,
  .custom-desc .w-95,
  .custom-desc .w-100 {
    width: 100%;
    padding: var(--padding-block);
  }
  .custom-desc .ikony.col-5-5,
  .custom-desc .ikony.col-100 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .custom-desc .ikony.col-5-5 > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 160px;
        flex-basis: 160px;
    max-width: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: var(--gap);
  }
  .custom-desc .ikony.col-100 > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 160px;
        flex-basis: 160px;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: var(--gap);
  }
  .custom-desc .ikony {
    text-align: center;
  }
  .custom-desc img {
    margin: auto;
  }
  .custom-desc .ikony img {
    margin-left: 0;
    margin-right: 0;
  }
  .custom-desc .ikony.slider img {
    margin: auto;
  }
  .custom-desc img.m-bottom-auto {
    max-width: 200px;
    margin: auto;
  }
  .custom-desc .ikony.slider {
    min-height: 250px;
  }
  .custom-desc .slider .dots {
    padding-bottom: calc(var(--gap) * 1.5);
  }
  .custom-desc .compare.items-2.wide-product {
    padding: 0;
  }
  .custom-desc .compare.items-2 h3,
  .custom-desc .compare.items-2.wide-product h3 {
    width: 100%;
  }
  .custom-desc .compare.items-2 > img:nth-of-type(1),
  .custom-desc .compare.items-2 > img:nth-of-type(2) {
    grid-row: 2;
    width: 75%;
  }
  .custom-desc .compare.items-2.wide-product > img:nth-of-type(1) {
    width: 55%;
  }
  .custom-desc .compare.items-2.wide-product > img:nth-of-type(2) {
    width: 29%;
  }
  .custom-desc .ingredients tr th span {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
  }
  .custom-desc h2,
  .custom-desc h3 {
    font-size: var(--fs-24);
  }
  .custom-desc .compare h3 {
    font-size: 2.5rem;
  }
  .aspect-ratio-mob {
    aspect-ratio: 1/1;
    max-width: 100%;
  }
  .aspect-ratio-1-1-mob {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    max-width: 100%;
  }
  .aspect-ratio-3-4-mob {
    width: 100%;
    height: auto;
    aspect-ratio: 3/4;
    max-width: 100%;
  }
  .aspect-ratio-4-3-mob {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    max-width: 100%;
  }
}
@media (max-width: 380px) {
  .custom-desc .col-25-25-25-25 {
    grid-template-columns: 1fr;
  }
}
.zdroje li {
  padding: 0.5em 0;
}