#pobo-all-content #pobo-standard-widget .widget-typography h3 {
  margin-top: 0;
  margin-bottom: 0.6em;
  font-family: var(--ff-main) !important;
  font-weight: 700 !important;
}

.pb-standard-table tr > td {
  width: 17% !important;
}

.pb-standard-table tr > td:first-child {
  width: 50% !important;
}

.pb-standard-table tr:has(> td:nth-child(5)) td {
  width: 13% !important;
}

.pb-standard-table tr:has(> td:nth-child(5)) > td:first-child {
  width: 48% !important;
}

.pb-standard-table td {
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-black-400);
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.pb-standard-table tbody > tr:nth-child(even) {
  background: #f9f9f9;
}

.pb-standard-table tr > td ul {
  margin: 0;
  padding-left: 15px;
}

.pb-standard-table tr > td ul li {
  display: block;
}

#pobo-standard-widget > div:nth-child(odd) .pb-standard-table tbody > tr:nth-child(odd) {
  background: #f6f6f6;
}

#pobo-standard-widget > div {
  border-radius: var(--border-radius);
  padding: 20px 30px;
}

#pobo-standard-widget > div:nth-child(odd) {
  background: #f6f6f6;
}

@media (max-width: 767px) {
  #pobo-standard-widget > div {
    padding: 10px;
  }
}
@media (min-width: 768px) {
  #pobo-standard-widget p {
    text-align: justify;
  }
}
/*images*/
#pobo-standard-widget .rc-image-right__image a,
#pobo-standard-widget .rc-image-right__image img {
  pointer-events: none;
}

.rc-image-right .rc-image-right__image img {
  max-height: 350px;
  max-width: 90%;
  display: block;
  margin: auto;
}

@media (max-width: 767px) {
  #pobo-all-content .empty::-webkit-scrollbar {
    display: none;
  }
  #pobo-all-content .empty {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
#pobo-all-content .widget-projector p {
  font-size: var(--fs-16) !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

/*Tabulka vlevo (kavy apod)*/
#pobo-all-content .widget-projector .rc-parameter-small-left__image {
  display: none;
}

#pobo-all-content .widget-projector .rc-parameter-small-left__box {
  width: 100%;
  display: grid;
  grid-template-columns: 0.43fr 0.57fr;
  grid-template-rows: 1fr;
  -webkit-column-gap: 7%;
     -moz-column-gap: 7%;
          column-gap: 7%;
}

#pobo-all-content .widget-projector .rc-parameter-small-left__box > * {
  grid-row: 1;
}

#pobo-all-content .widget-projector .rc-parameter-small-left__box .rc-parameter__header-right {
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pobo-all-content .widget-projector .rc-parameter-small-left__box .rc-parameter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 36px;
}

.rc-parameter__box-small-left-parameter-icon {
  width: 80px;
}

.rc-advantages-two__ico-container span,
.rc-advantages-three__ico-container span,
.rc-advantages-four__ico-container span {
  font-size: var(--fs-16) !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-projector .rc-parameter-small-left__box .rc-parameter__box-small-left-parameter {
  width: 32%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#pobo-all-content .widget-projector .rc-parameter-small-left__box .rc-parameter__box-small-left-parameter .rc-parameter__box-small-left-content {
  padding: 0;
  width: 100%;
}

#pobo-all-content .widget-projector .rc-parameter-small-left__box .rc-parameter__box-small-left-parameter span {
  text-align: center;
  font-size: var(--fs-16);
}

#pobo-all-content .widget-projector .rc-parameter-small-left__box .rc-parameter__box-small-left-parameter .rc-parameter__box-small-left-content-value {
  margin: 16px 0 8px;
}

@media (max-width: 992px) {
  #pobo-all-content .widget-projector .rc-parameter-small-left__box .rc-parameter__box-small-left-parameter {
    width: 48%;
  }
}
@media (max-width: 767px) {
  #pobo-all-content .widget-projector .rc-parameter-small-left__box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 30px;
  }
  #pobo-all-content .widget-projector .rc-parameter-small-left__box > * {
    grid-column: 1 !important;
    grid-row: auto;
  }
  #pobo-all-content .widget-projector .rc-parameter-small-left__box .rc-parameter__header-right {
    text-align: left;
    grid-row: 2;
  }
}
#pobo-all-content .rc-image-half-right__text {
  width: 55%;
}

#pobo-all-content .rc-image-half-right__image {
  width: 45%;
}

@media (max-width: 767.98px) {
  #pobo-all-content .rc-image-half-right__text {
    width: 100%;
  }
  #pobo-all-content .rc-image-half-right__image {
    width: 100%;
  }
}
/*blog*/
#pobo-all-content .rc-card-call-to-action__single {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#pobo-all-content .rc-card-call-to-action__single h2 {
  font-size: var(--fs-16);
  color: var(--color-black-800);
  padding-bottom: 5px;
}

#pobo-all-content .rc-card-call-to-action__single h2 span {
  font-weight: 600;
}

#pobo-all-content .rc-card-call-to-action__single .rc-card-call-to-action__image {
  max-width: 80%;
  margin: auto;
}

#pobo-all-content .rc-card-call-to-action__single .rc-card-call-to-action__photo {
  max-height: none;
}

#pobo-all-content .rc-card-call-to-action__single .rc-card-call-to-action__link {
  background: var(--color-primary);
  border-style: none;
  font-weight: 500;
  font-size: var(--fs-14);
  line-height: 3;
  border-radius: var(--border-radius);
}

#pobo-all-content .rc-card-call-to-action__single .rc-card-call-to-action__button a:hover {
  background: var(--color-primary-hover);
  color: white;
}

.btn-blog-show-all-products {
  font-weight: 600;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-bottom: 20px;
}

.btn-blog-show-all-products span {
  font-size: var(--fs-14);
  padding: 0 20px;
  background: var(--color-secondary);
  line-height: 3.5;
  border-radius: var(--border-radius);
  color: white;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.btn-blog-show-all-products:hover span {
  background: var(--color-primary-hover);
  color: white;
}

@media (max-width: 767.98px) {
  #pobo-all-content .rc-card-call-to-action__single {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--color-primary);
  }
  #pobo-all-content .rc-card-call-to-action--three-in-row > .rc-card-call-to-action__single:last-child {
    border-bottom-style: none;
    margin-bottom: 0;
  }
}
/*Pobo overflow custom images*/
@media (min-width: 768px) {
  .widget-container.overflow-image > * > * {
    position: relative;
    margin-bottom: auto;
  }
  .widget-container.overflow-image.sirka .rc-image-right__image,
  .widget-container.overflow-image.sirka .rc-image-left__image {
    position: absolute;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    inset: auto;
    right: -22%;
  }
  .widget-container.overflow-image.sirka .rc-image-right__image img,
  .widget-container.overflow-image.sirka .rc-image-left__image img {
    width: auto;
    height: auto;
    max-height: none;
    max-width: 100%;
  }
  .widget-container.overflow-image.vyska .rc-image-right__image,
  .widget-container.overflow-image.vyska .rc-image-left__image {
    position: absolute;
    height: 100%;
    max-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    inset: auto;
    left: 68%;
    bottom: -50px;
  }
  .widget-container.overflow-image.vyska .rc-image-right__image img,
  .widget-container.overflow-image.vyska .rc-image-left__image img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: none;
  }
  .widget-container.overflow-image img,
  .widget-container.overflow-image .rc-image-right__image .widget-container.overflow-image .rc-image-left__image {
    pointer-events: none;
  }
}
/*1-4 fotky pobo*/
.rc-advantages-one,
.rc-advantages-two,
.rc-advantages-three,
.rc-advantages-four {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rc-advantages-one__item,
.rc-advantages-two__item,
.rc-advantages-three__item,
.rc-advantages-four__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto !important;
  -ms-flex-preferred-size: 180px;
      flex-basis: 180px;
}

#pobo-all-content .widget-typography h2 {
  font-size: 20px !important;
  line-height: 30px !important;
  font-weight: 600 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography h3 {
  font-size: 18px !important;
  line-height: 26px !important;
  font-weight: 600 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography h4 {
  font-size: 18px !important;
  line-height: 26px !important;
  font-weight: 600 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography p {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography ul {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography ul li {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography ol li {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography table {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography table td {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography table tr {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography h2 {
  font-size: 20px !important;
  line-height: 30px !important;
  font-weight: 600 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography h3 {
  font-size: 18px !important;
  line-height: 26px !important;
  font-weight: 600 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography h4 {
  font-size: 18px !important;
  line-height: 26px !important;
  font-weight: 600 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography p {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography ul {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography ul li {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography ol li {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography table {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography table td {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: #303233 !important;
}

#pobo-all-content .widget-typography table tr {
  font-size: 16px !important;
  line-height: 23px !important;
  font-weight: 400 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: #303233 !important;
}