/*--------------TEST*/
.test {
  color: red;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.test .wtf {
  color: blue;
  scale: 2;
  -webkit-animation: alternate;
          animation: alternate;
}