@charset "UTF-8";
/*mixins*/
/*variables*/
:root {
  --ff-m: "Inter", sans-serif;
  --ff-h: "Poppins", sans-serif;
  --br-200: 8px;
  --br-300: 12px;
  --br-400: 16px;
  --br-600: 24px;
  --fs-12: 0.75rem;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --gap-6: 6px;
  --gap-10: 10px;
  --gap-11: 11px;
  --gap-12: 12px;
  --gap-13: 13px;
  --gap-14: 14px;
  --gap-15: 15px;
  --gap-16: 16px;
  --gap-18: 18px;
  --gap-20: 20px;
  --gap-24: 24px;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-o-60: hsla(0, 0%, 0%, 0.6);
  --color-gray-400: #f2f2f2;
  --color-gray-500: #e7e7e7;
  --color-gray-600: #4f4f4f;
  --color-primary-500: hsla(268, 36%, 50%, 1);
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --pad-sides: 40px;
  --media-mobile: 767px;
}

@media screen and (max-width: 767px) {
  :root {
    --pad-sides: 10px;
  }
}
/*css reset*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  line-height: 1;
}

/* Set core body defaults */
body,
main {
  min-height: 100vh;
  font-family: var(--ff-m);
}

body {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px var(--pad-sides);
  background: white;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-wrap: balance;
  font-family: var(--ff-h);
}

/* A elements that don't have a class get default styles */
a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
}
a:hover, a:focus {
  color: var(--color-primary);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*-------------------------------------- Hide for now */
.admin-bar,
.user-action {
  display: none;
}

/*-------------------------------------- HEADER*/
#header {
  position: relative;
  --height: 54px;
  --hamburger-width: 56px;
  --menu-image-width: clamp(60px, 40px + 3vw, 90px);
}
@media screen and (max-width: 767px) {
  #header {
    padding-top: 11px;
  }
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: var(--color-white);
    border-radius: var(--br-400);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header .navigation-wrapper:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: calc(100% + var(--pad-sides) * 2);
    left: calc(var(--pad-sides) * -1);
    height: 100px;
    background: -webkit-gradient(linear, left bottom, left top, from(white), to(var(--color-gray-500)));
    background: linear-gradient(0deg, white 0%, var(--color-gray-500) 100%);
    z-index: -1;
    pointer-events: none;
  }
}
#header .navigation-wrapper .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: var(--height);
  margin-bottom: var(--gap-18);
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top {
    margin-bottom: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #header .navigation-wrapper .header-top > * {
    margin-left: auto;
    margin-right: auto;
  }
}
#header .navigation-wrapper .header-top .site-name-wrapper {
  height: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top .site-name-wrapper {
    margin-left: 0;
  }
}
#header .navigation-wrapper .header-top .site-name-wrapper .site-name {
  height: 100%;
}
#header .navigation-wrapper .header-top .site-name-wrapper .site-name a {
  height: 100%;
}
#header .navigation-wrapper .header-top .site-name-wrapper .site-name a img {
  padding: 4px 0;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-filter 0.2s ease-in-out;
  transition: -webkit-filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top .site-name-wrapper .site-name a img {
    padding: 7px 0px 10px 11px;
  }
}
#header .navigation-wrapper .header-top .site-name-wrapper .site-name:hover img, #header .navigation-wrapper .header-top .site-name-wrapper .site-name:focus img {
  -webkit-filter: brightness(0.85) contrast(1.2);
          filter: brightness(0.85) contrast(1.2);
}
#header .navigation-wrapper .header-top:after {
  content: "";
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: block;
  width: 185px;
  height: 1px;
  background-color: var(--color-gray-400);
}
#header .navigation-wrapper .header-top.header-loaded::after {
  display: none;
}
#header .navigation-wrapper .header-top.header-loaded .top-navigation-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  pointer-events: none;
  gap: var(--gap-20);
  position: relative;
}
#header .navigation-wrapper .header-top.header-loaded .top-navigation-contacts .project-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#header .navigation-wrapper .header-top.header-loaded .top-navigation-contacts .project-phone span {
  color: var(--color-black);
  font-size: var(--fs-16);
  font-weight: var(--fw-700);
  pointer-events: auto;
  padding: 4px 0;
}
#header .navigation-wrapper .header-top.header-loaded .top-navigation-contacts .project-phone span:hover, #header .navigation-wrapper .header-top.header-loaded .top-navigation-contacts .project-phone span:focus {
  color: var(--color-primary);
}
#header .navigation-wrapper .header-top.header-loaded .top-navigation-contacts .project-phone .contact-hours {
  font-size: var(--fs-13);
  color: var(--color-gray-600);
  font-weight: var(--fw-400);
  pointer-events: none;
}
#header .navigation-wrapper .header-top.header-loaded .top-navigation-contacts::before {
  content: "";
  display: block;
  width: calc(var(--height) - 2px);
  height: calc(var(--height) - 2px);
  background-color: var(--color-gray-400);
  border-radius: var(--br-400);
  background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/contact-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
#header .navigation-wrapper .header-top.header-loaded .top-navigation-contacts::after {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 22px;
  left: -4px;
  bottom: -3px;
  background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_contact_phone_header.svg");
  background-position: center;
  background-repeat: no-repeat;
}
#header .navigation-wrapper .header-top.header-loaded .top-navigation-contacts strong,
#header .navigation-wrapper .header-top.header-loaded .top-navigation-contacts a.project-email {
  display: none;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top.header-loaded .top-navigation-contacts {
    display: none;
  }
}
#header .navigation-wrapper .header-top .search {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 100%;
  padding: 1px 0;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top .search {
    width: 30px;
    height: 100%;
  }
}
#header .navigation-wrapper .header-top .search form {
  height: 100%;
}
#header .navigation-wrapper .header-top .search form fieldset {
  height: 100%;
  padding: 0;
  margin: 0;
  border-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap-10);
  position: relative;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top .search form fieldset {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
}
#header .navigation-wrapper .header-top .search form fieldset::before {
  pointer-events: none;
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_search_glass.svg");
  background-size: cover;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top .search form fieldset::before {
    position: relative;
    inset: 0;
    -webkit-transform: none;
            transform: none;
  }
}
#header .navigation-wrapper .header-top .search form fieldset input[type=search] {
  width: clamp(200px, 38vw, 726px);
  background: var(--color-gray-400);
  border-style: none;
  border-radius: var(--br-400);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--fs-13);
  padding: 0 0.5em 0 4em;
  color: var(--color-gray-600);
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top .search form fieldset input[type=search] {
    display: none;
  }
}
#header .navigation-wrapper .header-top .search form fieldset button {
  background: var(--color-primary);
  border-style: none;
  border-radius: var(--br-400);
  color: var(--color-white);
  padding: 0 1.6em;
  font-size: var(--fs-16);
  font-weight: var(--fw-700);
  cursor: pointer;
  position: relative;
  padding-bottom: 2px;
  -webkit-box-shadow: inset 0px -2px 0px var(--color-tertiary);
          box-shadow: inset 0px -2px 0px var(--color-tertiary);
}
#header .navigation-wrapper .header-top .search form fieldset button:hover, #header .navigation-wrapper .header-top .search form fieldset button:focus {
  background: var(--color-primary-500);
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top .search form fieldset button {
    display: none;
  }
}
#header .navigation-wrapper .header-top .search .search-whisperer {
  display: none;
}
#header .navigation-wrapper .header-top .navigation-buttons {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top .navigation-buttons {
    padding-right: 10px;
  }
}
#header .navigation-wrapper .header-top .navigation-buttons .cart-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--gap-12);
  position: relative;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top .navigation-buttons .cart-count {
    width: 30px;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
#header .navigation-wrapper .header-top .navigation-buttons .cart-count:before {
  content: "";
  display: block;
  width: calc(var(--height) - 2px);
  height: calc(var(--height) - 2px);
  background-color: var(--color-gray-400);
  border-radius: var(--br-400);
  background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 17px;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top .navigation-buttons .cart-count:before {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 17px;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}
#header .navigation-wrapper .header-top .navigation-buttons .cart-count .sr-only {
  display: none;
}
#header .navigation-wrapper .header-top .navigation-buttons .cart-count .cart-price {
  font-size: var(--fs-16);
  font-weight: var(--fw-700);
  color: var(--color-black);
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top .navigation-buttons .cart-count .cart-price {
    display: none;
  }
}
#header .navigation-wrapper .header-top .navigation-buttons .cart-count i[data-testid=headerCartCount] {
  font-style: normal;
  color: var(--color-white);
  font-size: var(--fs-12);
  font-weight: var(--fw-700);
  background: var(--color-secondary);
  border-radius: var(--br-200);
  width: 1.83em;
  height: 1.83em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -3px;
  left: calc(var(--height) + 3px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top .navigation-buttons .cart-count i[data-testid=headerCartCount] {
    top: calc(50% - 12px);
    left: auto;
    right: -8px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}
#header .navigation-wrapper .header-top .login-button-custom {
  display: none;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper .header-top .login-button-custom {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30px;
    height: 100%;
    cursor: pointer;
  }
  #header .navigation-wrapper .header-top .login-button-custom::before {
    content: "";
    width: 20px;
    height: 100%;
    background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_account.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
}
#header .navigation-wrapper #navigation {
  background: var(--color-primary);
  border-radius: var(--br-400);
  padding-bottom: 2px;
  -webkit-box-shadow: inset 0px -2px 0px var(--color-tertiary);
          box-shadow: inset 0px -2px 0px var(--color-tertiary);
}
#header .navigation-wrapper #navigation ul,
#header .navigation-wrapper #navigation li {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper #navigation {
    width: var(--hamburger-width);
    height: var(--height);
  }
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom {
  color: var(--color-white);
  font-weight: var(--fw-700);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap-6);
  padding: 20px 40px;
  margin-bottom: -1px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-left: auto;
  border-radius: 0 var(--br-400) var(--br-400) 0;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom {
    padding: 0;
    border-radius: var(--br-400);
  }
  #header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom span {
    display: none;
  }
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom .menu-helper-submenu {
  display: none;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom::after {
  content: "";
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_arrow_down.svg");
  width: 8px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom::after {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:before {
    content: "";
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_hamburger_menu.svg");
    width: var(--hamburger-width);
    height: var(--height);
    background-position: center;
    background-repeat: no-repeat;
  }
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:hover, #header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:focus {
  background: var(--color-tertiary);
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:hover::after, #header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:focus::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:hover .menu-helper-submenu, #header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:focus .menu-helper-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 16.5em;
  right: 0;
  top: 100%;
  font-size: var(--fs-14);
  gap: var(--gap-16);
  margin-top: 0px;
  padding: 2em 1em 1.75em 2em;
  z-index: 2;
  background: white;
  border-radius: var(--br-400);
  -webkit-box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.1);
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:hover .menu-helper-submenu li, #header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:focus .menu-helper-submenu li {
  list-style: none;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:hover .menu-helper-submenu li a, #header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:focus .menu-helper-submenu li a {
  display: block;
  color: var(--color-black);
  font-size: var(--fs-14);
  font-weight: var(--fw-700);
  line-height: 1.4;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:hover .menu-helper-submenu li a:hover, #header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:hover .menu-helper-submenu li a:focus, #header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:focus .menu-helper-submenu li a:hover, #header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:focus .menu-helper-submenu li a:focus {
  color: var(--color-primary);
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:hover .menu-helper-submenu .menu-level-2, #header .navigation-wrapper #navigation .navigation-in .menu-level-1 .menu-helper-custom:focus .menu-helper-submenu .menu-level-2 {
  display: none;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  #header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li {
    display: none;
  }
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li > a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 20px 40px;
  color: var(--color-white);
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li > span {
  color: var(--color-white);
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li .menu-level-2 {
  display: none;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover {
  background: var(--color-primary-500);
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 {
  background: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(8rem, 1fr);
  -webkit-column-gap: var(--gap-16);
     -moz-column-gap: var(--gap-16);
          column-gap: var(--gap-16);
  row-gap: calc(var(--gap-14) + 2rem);
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  padding: calc(var(--gap-16) * 4) calc(var(--gap-16) * 2) calc(var(--gap-16) * 4 - 10px) calc(var(--gap-16) * 4);
  border-radius: var(--br-400);
  -webkit-box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.1);
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: var(--gap-16);
     -moz-column-gap: var(--gap-16);
          column-gap: var(--gap-16);
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 > li:not(.has-third-level) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 > li:not(.has-third-level) div a {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: calc(8rem - var(--menu-image-width));
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 > li > div {
  /*nadpis menu level 2*/
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 > li > div > a {
  display: block;
  font-weight: var(--fw-700);
  font-size: var(--fs-16);
  color: var(--color-black);
  line-height: 1;
  padding-left: 0.625rem;
  padding-bottom: 0.5em;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 > li > div > a:hover, #header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 > li > div > a:focus {
  color: var(--color-primary);
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .show-all-categories {
  font-weight: var(--fw-700);
  font-size: var(--fs-16);
  color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: calc(8rem - var(--menu-image-width));
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 1em;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .show-all-categories span {
  position: relative;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .show-all-categories span::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1em;
  height: 0.8em;
  background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_arrow_right_primary.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: -1em;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .show-all-categories:hover, #header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .show-all-categories:focus {
  text-decoration: underline;
  text-underline-offset: 3px;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .menu-image {
  padding: 0;
  height: var(--menu-image-width);
  width: var(--menu-image-width);
  min-width: var(--menu-image-width);
  max-height: var(--menu-image-width);
  background-color: var(--color-gray-400);
  border-radius: var(--br-200);
  padding: var(--gap-13);
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .menu-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .menu-level-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .menu-level-3 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .menu-level-3 li a {
  padding: 0;
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  color: var(--color-black-o-60);
  line-height: 1.6;
  padding-left: 0.625rem;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .menu-level-3 li a:hover, #header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .menu-level-3 li a:focus {
  color: var(--color-primary);
  text-decoration: underline;
  text-underline-offset: 3px;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .menu-level-3 .show-all-subcategories {
  color: var(--color-primary);
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  line-height: 1.6;
  padding-left: 0.625rem;
  text-decoration: underline;
  text-underline-offset: 3px;
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .menu-level-3 .show-all-subcategories:hover, #header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:hover .menu-level-2 .menu-level-3 .show-all-subcategories:focus {
  color: var(--color-tertiary);
}
#header .navigation-wrapper #navigation .navigation-in .menu-level-1 > li:first-child:hover {
  border-radius: var(--br-400) 0 0 var(--br-400);
}

.top-navigation-bar {
  padding-top: 8px;
  padding-bottom: var(--gap-18);
}
.top-navigation-bar > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-navigation-bar > .container .top-navigation-menu .top-navigation-menu-trigger {
  display: none;
}
.top-navigation-bar > .container .top-navigation-menu .top-navigation-bar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc(var(--gap-24));
}
.top-navigation-bar > .container .top-navigation-menu .top-navigation-bar-menu a {
  font-size: var(--fs-13);
  color: var(--color-black);
  display: block;
}
.top-navigation-bar > .container .top-navigation-menu .top-navigation-bar-menu a:hover, .top-navigation-bar > .container .top-navigation-menu .top-navigation-bar-menu a:focus {
  color: var(--color-primary);
}
.top-navigation-bar > .container .top-navigation-menu .top-navigation-bar-menu-helper {
  display: none;
}
.top-navigation-bar > .container .top-navigation-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-navigation-bar > .container .top-navigation-tools .responsive-tools {
  display: none;
}
.top-navigation-bar > .container .top-navigation-tools .top-nav-button-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 4px;
  font-size: var(--fs-13);
  color: var(--color-black);
  margin-bottom: 5px;
}
.top-navigation-bar > .container .top-navigation-tools .top-nav-button-login span {
  display: none;
}
.top-navigation-bar > .container .top-navigation-tools .top-nav-button-login::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_account.svg");
  background-size: cover;
}
.top-navigation-bar > .container .top-navigation-tools .top-nav-button-login::after {
  content: "Příhlásit / Registrovat";
  display: block;
}
.top-navigation-bar > .container .top-navigation-tools .top-nav-button-login:hover, .top-navigation-bar > .container .top-navigation-tools .top-nav-button-login:focus {
  color: var(--color-primary);
}
@media screen and (max-width: 767px) {
  .top-navigation-bar {
    display: none;
  }
}

.top-navigation-contacts {
  display: none;
}

/* 	#header {
		.search {
			button {
				display: none;
			}
		}
		.top-navigation-contacts {
			display: none;
		}
	}
	.top-navigation-bar {
		display: none;
	}
}
 */