@charset "UTF-8";
.type-posts-listing #content {
  max-width: 1280px;
  margin: 0 auto;
}
.type-posts-listing .subcategories {
  list-style: none;
  padding: 0;
  gap: var(--gap-10);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: var(--fs-16);
  padding: 20px 0 10px 0;
}
.type-posts-listing .subcategories li {
  background-color: var(--color-gray-400);
  border-radius: var(--br-8);
  padding: 0.77em 1em;
}
@media screen and (min-width: 1280px) {
  .type-posts-listing .subcategories li {
    border-radius: var(--br-16);
    padding: 0.75em 1em;
  }
}
.type-posts-listing .subcategories li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(0.25em, 10%, 1.5em);
}
.type-posts-listing .subcategories li a .image {
  display: none;
}
.type-posts-listing .subcategories li a .text {
  font-size: var(--fs-16);
  color: var(--color-black);
  max-width: none;
  text-wrap: balance;
}
.type-posts-listing .subcategories li:hover, .type-posts-listing .subcategories li:focus-within {
  outline: solid 2px var(--color-primary);
  background-color: var(--color-gray-200);
}
.type-posts-listing #newsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 40px;
}
@media screen and (max-width: 1279px) {
  .type-posts-listing #newsWrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}
@media screen and (max-width: 767px) {
  .type-posts-listing #newsWrapper {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
.type-posts-listing #newsWrapper .news-item .image {
  border-radius: var(--br-16);
  overflow: hidden;
}
.type-posts-listing #newsWrapper .news-item .image img {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.type-posts-listing #newsWrapper .news-item .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.type-posts-listing #newsWrapper .news-item .text .description {
  display: none;
}
.type-posts-listing #newsWrapper .news-item .text .title {
  font-size: var(--fs-20);
  color: var(--color-black);
  font-weight: var(--fw-700);
  padding: 0.5em 0 1em 0;
}
.type-posts-listing #newsWrapper .news-item .text time {
  color: var(--color-black-o-60);
  font-size: var(--fs-16);
}
.type-posts-listing #newsWrapper .news-item:hover .image img, .type-posts-listing #newsWrapper .news-item:focus-within .image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.type-posts-listing #newsWrapper .news-item:hover .text .title, .type-posts-listing #newsWrapper .news-item:focus-within .text .title {
  color: var(--color-primary);
  text-decoration: underline;
}

/*------------------------------------------------------------------------------Nový blog*/
/*------------------------------------------------------------------------------Nový blog*/
/*------------------------------------------------------------------------------Nový blog*/
.in-blog.type-post:not(.old-blog) .content-wrapper-in {
  display: block;
}

.in-blog.type-post:not(.old-blog) #content p,
.in-blog.type-post:not(.old-blog) #content h1,
.in-blog.type-post:not(.old-blog) #content h2,
.in-blog.type-post:not(.old-blog) #content h3,
.in-blog.type-post:not(.old-blog) #content h4,
.in-blog.type-post:not(.old-blog) #content h5,
.in-blog.type-post:not(.old-blog) #content h6,
.in-blog.type-post:not(.old-blog) #content a,
.in-blog.type-post:not(.old-blog) #content b,
.in-blog.type-post:not(.old-blog) #content strong,
.in-blog.type-post:not(.old-blog) #content span {
  color: var(--color-black-800);
  font-family: var(--ff-main) !important;
  text-align: left;
}

.in-blog.type-post:not(.old-blog) {
  --maxWidth: 92rem;
  --contentPad: 1.5rem;
}

.in-blog.type-post:not(.old-blog) #content {
  max-width: var(--maxWidth); /*80 rem a 3 rem padding na PC*/
  padding: 0 var(--contentPad);
  font-size: 1.6rem;
  text-wrap: pretty;
}

.in-blog.type-post:not(.old-blog) #content img {
  border-radius: var(--border-radius);
}

.in-blog.type-post:not(.old-blog) #content p {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.in-blog.type-post:not(.old-blog) #content h1 {
  color: var(--color-black-800);
  font-size: 2.4rem;
  font-weight: 800;
}

.in-blog.type-post:not(.old-blog) #content h2,
.in-blog.type-post:not(.old-blog) #content h3 {
  font-weight: 800;
  line-height: 1.28;
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}

.in-blog.type-post:not(.old-blog) #content h4 {
  font-weight: 800;
  line-height: 1.28;
  margin-top: 2.8rem;
  margin-bottom: 1.2rem;
}

.in-blog.type-post:not(.old-blog) #content h2 {
  font-size: 2.2rem;
}

.in-blog.type-post:not(.old-blog) #content h3 {
  font-size: 2rem;
}

.in-blog.type-post:not(.old-blog) #content h4 {
  font-size: 1.8rem;
}

.in-blog.type-post:not(.old-blog) #content ul,
.in-blog.type-post:not(.old-blog) #content ol {
  margin: 2.4rem 0;
  font-size: 1.6rem;
  line-height: 1.8;
  list-style-type: none;
  padding: 0;
}

.in-blog.type-post:not(.old-blog) #content ol {
  counter-reset: section;
}

.in-blog.type-post:not(.old-blog) #content ul li,
.in-blog.type-post:not(.old-blog) #content ol li {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.in-blog.type-post:not(.old-blog) #content ol li {
  padding-left: 4.4rem;
  counter-increment: section;
}

.in-blog.type-post:not(.old-blog) #content ul li::before {
  position: absolute;
  top: 1.45rem;
  left: 0;
  width: 0.8rem;
  height: 0.8rem;
  content: "";
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--color-black-800);
}

.in-blog.type-post:not(.old-blog) #content ol li::before {
  content: counter(section);
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  top: 1.45rem;
  left: 0;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 3.2rem;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: var(--color-primary-100);
  color: var(--color-primary-hover);
  border-radius: 6px;
}

.in-blog.type-post:not(.old-blog) #content a {
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  text-decoration: underline;
  word-break: break-word;
}

.in-blog.type-post:not(.old-blog) #content a:hover {
  color: var(--color-primary-hover);
}

@media (min-width: 641px) {
  .in-blog.type-post:not(.old-blog) #content h1 {
    font-size: 2.4rem;
  }
}
@media (min-width: 1200px) {
  .in-blog.type-post:not(.old-blog) #content {
    padding: 0 3rem;
  }
  .in-blog.type-post:not(.old-blog) #content h1 {
    font-size: 3.2rem;
  }
  .in-blog.type-post:not(.old-blog) #content h2 {
    font-size: 3.2rem;
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
  }
  .in-blog.type-post:not(.old-blog) #content h3 {
    margin-top: 4rem;
  }
  .in-blog.type-post:not(.old-blog) #content ul,
  .in-blog.type-post:not(.old-blog) #content ol {
    margin: 4rem 0;
  }
  .in-blog.type-post:not(.old-blog) #content ul li {
    padding-left: 5.6rem;
  }
  .in-blog.type-post:not(.old-blog) #content ul li::before {
    left: 2.4rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .in-blog.type-post:not(.old-blog) #content ol li {
    padding-left: 5.6rem;
  }
  .in-blog.type-post:not(.old-blog) #content ol li::before {
    left: 1.2rem;
  }
}
/*AUTOR BLOGU*/
#blog-author {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 2.4rem;
  background: var(--color-gray-200);
  border-radius: var(--border-radius);
  padding: 2.4rem 3.6rem 0.9rem 3.6rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.author-image {
  border-radius: 50%;
  overflow: hidden;
  border-style: solid;
  border-color: var(--color-primary);
  border-width: 1px;
}

#blog-author p {
  margin: 0 !important;
}

#blog-author .author-name {
  font-size: 2.2rem !important;
  font-weight: 600 !important;
  margin-top: 0.4rem !important;
  margin-bottom: 0.8rem !important;
}

#blog-author .author-text .author-label {
  font-size: 1.2rem !important;
  margin: 0 !important;
}

.author-text {
  font-size: 1.5rem !important;
  line-height: 1.5 !important;
}

#blog-author .author-text p {
  margin-bottom: 1.5rem !important;
}

@media (max-width: 767px) {
  #blog-author {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .author-image {
    max-width: 120px;
    margin: auto;
  }
  #blog-author .author-label,
  #blog-author .author-name {
    text-align: center !important;
    margin-top: 0 !important;
  }
}
/*------------------------------------------------------------------------------Související články blog*/
.show-blog-heading {
  font-family: var(--ff-main) !important;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 1.28;
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
  text-align: left;
  padding-left: 7px;
}

.blog-fetched-related {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: auto;
  margin-bottom: 1.6rem;
}

.blog-fetched-related > * {
  padding: calc(var(--gap) / 1.5);
  max-width: 300px;
  min-width: 250px;
  color: var(--color-black-800) !important;
}

.blog-fetched-related img {
  border-radius: var(--border-radius);
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.blog-fetched-related a:hover img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.blog-fetched-related a h4 {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-family: var(--ff-main) !important;
  font-size: 2rem !important;
  line-height: 1.28;
  margin-bottom: 0.5em;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.blog-fetched-related a:hover h4 {
  color: var(--color-primary) !important;
}

.blog-fetched-related a p {
  color: #666;
  display: -webkit-box !important;
  font-size: 1.6rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  margin: 0;
}

@media (min-width: 1200px) {
  .show-blog-heading {
    text-align: center;
    font-size: 3.2rem;
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
  }
  .blog-fetched-related {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2.4rem;
  }
  .blog-fetched-related > * {
    max-width: 25%;
    min-width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .show-blog-heading {
    padding-left: 0;
  }
}
/*------------------------------------------------------------------------------Blog produkty z kategorie a produkty z detailu*/
.blog-fetched-category .p-in .p-in-in .ratings-wrapper,
.blog-fetched-category .p-in .p-bottom,
.blog-fetched-category .p-code,
.blog-fetched-category .flags {
  display: none;
}

.blog-fetched-products,
.blog-fetched-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  margin-left: calc(var(--gap) / -2);
  margin-right: calc(var(--gap) / -2);
}

.blog-fetched-products > a,
.blog-fetched-category > .product {
  max-width: 60%;
  width: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: calc(var(--gap) / 1.5);
  margin-bottom: 4rem;
  position: relative;
}

.blog-fetched-products > a,
.blog-fetched-category > .product a {
  text-decoration: none !important;
  color: var(--color-black-800) !important;
}

.blog-fetched-products > a::before,
.blog-fetched-category > .product::before {
  display: block;
  content: "";
  position: absolute;
  width: calc(100% - var(--gap));
  height: calc(100% + 4rem);
  top: 0;
  left: calc(var(--gap) / 2);
  pointer-events: none;
  background-color: hsla(204, 5%, 60%, 0.06);
  border-radius: var(--border-radius);
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.blog-fetched-products > a::after,
.blog-fetched-category > .product::after {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 80%;
  max-width: 200px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: auto;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  color: white;
  font-size: 1.6rem !important;
  padding: 0.75em 0.25em;
  text-align: center;
  -webkit-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
}

.blog-fetched-products > a:hover,
.blog-fetched-category > .product:hover a {
  text-decoration: underline !important;
}

.blog-fetched-products > a:hover::after,
.blog-fetched-category > .product:hover::after {
  background-color: var(--color-primary-hover);
}

.blog-fetched-products > a:hover::before,
.blog-fetched-category > .product:hover::before {
  opacity: 0.6;
}

.cs .blog-fetched-products > a::after,
.cs .blog-fetched-category > .product::after {
  content: "Zobrazit produkt";
}

.sk .blog-fetched-products > a::after,
.sk .blog-fetched-category > .product::after {
  content: "Zobraziť produkt";
}

.pl .blog-fetched-products > a::after,
.pl .blog-fetched-category > .product::after {
  content: "Pokaż produkt";
}

.blog-fetched-products > a p,
.blog-fetched-category > .product .name span {
  text-align: center !important;
  line-height: 1.6 !important;
  text-decoration: none !important;
  font-weight: 600;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  padding: 0 10px;
  margin-bottom: 2em !important;
  margin-top: 1em !important;
}

@media (min-width: 1200px) {
  .blog-fetched-products,
  .blog-fetched-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-fetched-products > a,
  .blog-fetched-category > .product {
    max-width: 50%;
    min-width: 25%;
    width: auto;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*------------------------------------------------------------------------------Blog Zobrazit všechny články a produkty tlačítko*/
.show-all-blog-btn {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show-all-blog-btn a {
  margin: 0px auto 0px 7px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-primary) !important;
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-primary);
  padding: 0.6em 1em;
  -webkit-transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease !important;
  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease !important;
  text-decoration: none !important;
}

.show-all-blog-btn a:hover,
.show-all-blog-btn a:focus-within {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: white !important;
}

@media (min-width: 1200px) {
  .show-all-blog-btn a {
    margin: 0px auto 0px auto;
  }
}
/**/
.in-blog.type-post:not(.old-blog) .comments,
.in-blog.type-post:not(.old-blog) .share {
  max-width: var(--maxWidth); /*80 rem a 3 rem padding na PC*/
  padding: 0 var(--contentPad);
  margin-left: auto;
  margin-right: auto;
}

.in-blog.type-post:not(.old-blog) .comments {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}

/*-----------------------------------------------------------------------------Blog Page*/
.in-blog.type-posts-listing .title {
  color: var(--color-black-800);
}

.in-blog.type-posts-listing #newsWrapper.news-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: calc(var(--gap) * 2);
     -moz-column-gap: calc(var(--gap) * 2);
          column-gap: calc(var(--gap) * 2);
  row-gap: calc(var(--gap) * 4);
  padding: 0;
}

.in-blog.type-posts-listing .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .in-blog.type-posts-listing #newsWrapper.news-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .in-blog.type-posts-listing #newsWrapper.news-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .in-blog.type-posts-listing .description {
    -webkit-line-clamp: 3;
  }
}
.in-blog.type-posts-listing .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap);
  margin-bottom: 0 !important;
}

.in-blog.type-posts-listing #content-wrapper.container.content-wrapper {
  max-width: 1440px;
}

.in-blog.type-posts-listing .content.wide {
  max-width: 100%;
}

.in-blog.type-posts-listing .image {
  width: auto !important;
  margin: 0 !important;
}

.in-blog.type-posts-listing .news-item time,
.news-item-detail time {
  margin-bottom: calc(var(--gap) - 2px);
  color: var(--color-black-200);
}

.news-info > *:last-child::after {
  display: none !important;
}

.news-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 5px;
  line-height: 1em;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--color-black-800);
  gap: calc(var(--gap) * 1.5);
  opacity: 0.7;
}

.news-info > * {
  position: relative;
}

.news-info > *::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background: var(--color-black-800);
  opacity: 0.7;
  right: calc(var(--gap) / -1.25);
}

.news-info > *:last-child()::after {
  display: none !important;
}

.blog-read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.3em;
}

.blog-read::before {
  content: "";
  width: 1.3em;
  height: 100%;
  background: url("https://www.natima.cz/user/documents/upload/Blog/read_number.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -1px;
}

.news-info * {
  color: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  margin: 0 !important;
}

/*Blog pocet precteni a cas čtení*/
#applypark_addon03_articleReadStats,
.articleAnalytics_statsValue {
  display: none !important;
}

/*-----------------------------------------------------------------------------KONEC Blog Page*/
/*----------------------------------------------------------------------------------BLOG NAVIGACE*/
.article-nav {
  background-color: var(--color-gray-100);
  border-radius: var(--border-radius);
  margin-top: 3.2rem;
  margin-bottom: -0.4rem;
}

.article-content {
  display: grid;
  grid-template-rows: 0fr;
  -webkit-transition: grid-template-rows 0.3s ease;
  transition: grid-template-rows 0.3s ease;
  transition: grid-template-rows 0.3s ease, -ms-grid-rows 0.3s ease;
  padding: 0 2.4rem;
}

.article-content > ul {
  overflow: hidden;
}

.article-content > ul > li:first-of-type {
  padding-top: 0.6em !important;
}

.article-content > ul > li:last-of-type {
  padding-bottom: 1em !important;
}

.article-nav.open .article-content {
  grid-template-rows: 1fr;
}

.article-content ul {
  margin: 0 !important;
}

.article-content ul li {
  margin: 1rem 0 !important;
  padding: 0 !important;
}

.article-content > ul > li::before {
  display: none;
}

.article-content ul li::before {
  background-color: var(--color-primary) !important;
  width: 0.6rem !important;
  height: 0.6rem !important;
}

.article-content ul li a {
  text-decoration: none !important;
  color: var(--color-primary) !important;
}

.article-content > ul > li li {
  padding-left: 3.8rem !important;
}

.article-content > ul > li > a {
  font-weight: 600;
}

.article-content a:hover {
  text-decoration: underline !important;
}

#open-article-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  padding: 1.6rem 2.4rem 2.2rem;
  border-radius: var(--border-radius);
  border-bottom-style: solid;
  border-width: 1px;
  border-color: transparent;
}

#open-article-nav:hover,
.article-nav.open #open-article-nav {
  background: var(--color-gray-400);
}

.article-nav.open #open-article-nav {
  border-color: var(--color-gray-500);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

#open-article-nav:hover .show-article,
#open-article-nav:hover .hide-article {
  text-decoration: underline;
}

#open-article-nav > span {
  padding-top: 0.8rem;
}

#open-article-nav > span:first-child {
  font-weight: 700;
  font-size: 1.1em;
  margin-right: 2em;
}

#open-article-nav > span:nth-child(2)::after {
  content: "\e910";
  font-family: shoptet;
  font-size: 0.5em;
  top: -0.2em;
  display: inline-block;
  position: relative;
  margin-left: 1em;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.article-nav.open #open-article-nav > span:nth-child(2)::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.article-nav.open .show-article,
.hide-article {
  display: none;
}

.article-nav.open .hide-article {
  display: inline-block;
}

@media (max-width: 767px) {
  .article-content ul li::before {
    left: 1.2rem !important;
  }
  .article-content > ul > li li {
    padding-left: 2.8rem !important;
  }
}
/*----------------------------------------------------------------------------------KONEC BLOG NAVIGACE*/