#dkLabFavouriteDiv {
  position: absolute;
  margin: 0;
  right: 28px;
  bottom: 33px;
}
#dkLabFavouriteDiv .dkLabFavDetailSpan {
  font-size: 22px;
}
#dkLabFavouriteDiv .dkLabFavDetailSpan span {
  display: none;
}

.products-alternative .dkLabFavouriteProductDiv {
  display: none !important;
}

.products-block .dkLabFavouriteProductDiv {
  position: relative;
  inset: 0 !important;
  grid-row: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 13px;
  padding-bottom: 11px;
}