#carousel {
  --width-multiplier-of-1st-item: 2;
  --number-of-items: 4;
  --gap: var(--gap-20);
  --next-item-preview: 60px;
  /*carousel inner*/
}
@media screen and (max-width: 1440px) {
  #carousel {
    --number-of-items: 3;
    --next-item-preview: 40px;
  }
}
@media screen and (max-width: 1280px) {
  #carousel {
    --number-of-items: 3;
    --next-item-preview: 40px;
  }
  #carousel > * > *:first-child {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  #carousel {
    --number-of-items: 2;
    --next-item-preview: 150px;
  }
}
@media screen and (max-width: 767px) {
  #carousel {
    --number-of-items: 1;
    --next-item-preview: 200px;
  }
}
@media screen and (max-width: 500px) {
  #carousel {
    --number-of-items: 1;
    --next-item-preview: 100px;
  }
}
#carousel > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  gap: var(--gap);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /*.item*/
}
#carousel > *.grabbing, #carousel > *.grabbing * {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}
#carousel > *::-webkit-scrollbar {
  display: none;
}
#carousel > * > * {
  width: calc(100% / var(--number-of-items) - var(--gap) * (var(--number-of-items) - 1) / var(--number-of-items) - var(--next-item-preview) / var(--number-of-items));
  -ms-flex-negative: 0;
      flex-shrink: 0;
  scroll-snap-align: start;
  /*a*/
}
#carousel > * > * > * {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-white)), to(var(--color-gray-500)));
  background: linear-gradient(to bottom, var(--color-white), var(--color-gray-500));
}
#carousel > * > *:first-child {
  width: calc((100% / var(--number-of-items) - var(--gap) * (var(--number-of-items) - 1) / var(--number-of-items) - var(--next-item-preview) / var(--number-of-items)) * var(--width-multiplier-of-1st-item));
}
#carousel .carousel-control {
  position: absolute;
  top: 50%;
  background: var(--color-black);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: var(--color-white);
  background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_arrow_right_white.svg");
  background-position: calc(50% + 1px) center;
  background-repeat: no-repeat;
  background-size: 25%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: background-color 0.2s ease-out, -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-out, -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-out, transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  cursor: pointer;
}
#carousel .carousel-control:hover, #carousel .carousel-control:focus-within {
  background-color: var(--color-primary);
}
@media screen and (max-width: 1024px) {
  #carousel .carousel-control {
    width: 36px;
    height: 36px;
  }
}
#carousel .carousel-control.left {
  left: 0;
  -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1);
          transform: translate(-50%, -50%) rotate(180deg) scale(1);
}
#carousel .carousel-control.left.hidden-control {
  -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(0);
          transform: translate(-50%, -50%) rotate(180deg) scale(0);
}
#carousel .carousel-control.right {
  right: 0;
  -webkit-transform: translate(50%, -50%) scale(1);
          transform: translate(50%, -50%) scale(1);
}
#carousel .carousel-control.right.hidden-control {
  -webkit-transform: translate(50%, -50%) scale(0);
          transform: translate(50%, -50%) scale(0);
}

.carousel-inner {
  min-height: auto !important;
}